<div class="wrap-reporte">
    <div class="card-reporte">
        <div class="reporte-calendar">
            <mat-calendar [maxDate]="maxDate"  (selectedChange)="dateChanged($event)" [(selected)]="selectedDate"></mat-calendar>
        </div>
        <mat-divider></mat-divider>
        <div class="tab-group-reporte">
            <mat-tab-group mat-align-tabs="center" style="height: 82%;">
                <mat-tab label="Docente">
                    <mat-list role="list">
                        <mat-list-item role="listitem" *ngFor="let i of docentes">
                            <div>
                                <div> {{i.nombre}}</div>
                                <div> {{i.capacitacion}}
                                     </div>
                            </div>
                            <mat-divider></mat-divider>
                        </mat-list-item>
                    </mat-list>
                </mat-tab>
                <mat-tab label="Capacitacion" style="height: 100%;">
                    <mat-list role="list">
                        <mat-list-item role="listitem" *ngFor="let i of capacitaciones">
                            <div>
                                <div>{{i.nombre}}  Hora: {{i.hora}}</div>
                            </div>
                            <mat-divider></mat-divider>
                        </mat-list-item>
                    </mat-list>
                </mat-tab>
                <mat-tab label="Taller">
                    <mat-list role="list">
                        <mat-list-item role="listitem" *ngFor="let i of talleres">
                            <div> {{i.nombre}}   Hora: {{i.hora}} </div>
                            <mat-divider></mat-divider>
                        </mat-list-item>
                    </mat-list>
                </mat-tab>
                <mat-tab label="Horas">
                    <mat-list role="list">
                        <mat-list-item >
                            <div>Capacitaciones {{horas.horaCapacitacion}}</div>
                            <mat-divider></mat-divider>
                        </mat-list-item>
                        <mat-list-item >
                            <div>Talleres  {{horas.horaTalleres}}</div>
                            <mat-divider></mat-divider>
                        </mat-list-item>
                    </mat-list>

                </mat-tab>
            </mat-tab-group>
            <button mat-raised-button color="primary" style="width: 100%; height: 50px; z-index: 110;"  (click)= "descargar()">Descargar</button>

        </div>



    </div>


</div>