.wrap-reporte {
    width: 100%;
    height: 100%;
    display: flex;
    overflow-y: hidden;
    overflow: hidden;
}

.card-reporte {
    margin: 0 auto;
    width: auto;
    max-width: 800px;
    justify-content: center;
}

.reporte-calendar {
    width: 65%;
    height: 55%;
    margin: 0 auto;
}

@media (max-width: 500px) {
    .reporte-calendar {
        width: 40%;
        height: 55%;
        margin: 0 auto;
    }
}

@media (max-width: 600px) {
    .reporte-calendar {
        width: 60%;
        height: 55%;
        margin: 0 auto;
    }
}

.tab-group-reporte {
    height: 45%;
    overflow-y: hidden;
    overflow-x: hidden;
}

.mat-datepicker-content .mat-calendar {
    height: 50%;
}

.mat-tab-labels {
    justify-content: space-around !important;
}