<div *ngIf="visible" class="example-sidenav-content" fxLayout="row wrap" fxLayout.xs="column" fxLayoutAlign="space-evenly center">
    <mat-card    class="example-card" *ngFor="let i of capacitaciones">
        <mat-card-header>
            <mat-card-title class="header-text">{{i.titulo}}</mat-card-title>

        </mat-card-header>
        <mat-card-content style="margin-left: 16px;">
            <div>
                Fecha:    {{i.fecha}}
            </div>

            <div>
                Hora:     {{i.horario}}
            </div>

            <p>
                Modalidad:                     {{i.modalidad=='P'? 'Presencial': 'Online' }}
            </p>


        </mat-card-content>
        <mat-card-actions style="text-align: center;">
            <button mat-stroked-button color="primary" (click)="ver(i)" style="justify-content: center; width: 100%;">Ver</button>
        </mat-card-actions>
    </mat-card>


</div>
<div *ngIf="!visible"  >
    <mat-card   style="width: 80%; margin: 0 auto">
        
        <mat-card-content style="width: 100%; text-align: center;">
            No se ha registrado aun en ninguna actividad 
        </mat-card-content>

        
    </mat-card>
</div>