<mat-dialog-content>
    <p>
        Desea registrarse a la actividad {{data.nombre}}
    </p>

</mat-dialog-content>


<mat-dialog-actions style="justify-content: space-around; align-items: center;">
    <div >
        <button mat-button mat-dialog-close>No</button>
        <!-- The mat-dialog-close directive optionally accepts a value as a result for the dialog. -->
        <button mat-button [mat-dialog-close]="true" (click)= "registrar()">Si</button>
    </div>

</mat-dialog-actions>