<mat-toolbar color="primary" class="sticky">
    <mat-toolbar-row fxLayoutAlign="space-between center">
        <div fxLayout="row">
            <button mat-button>
        <mat-icon>home</mat-icon>
        <span class="logo">Liceo Panamericano </span>
      </button>
            <div *ngIf="!deviceXs" fxLayout="row">


                <a mat-button href="capacitaciones" >
                    Capacitaciones
                </a>
                <a mat-button href="talleres" >
                    Talleres
                </a>
                <a mat-button href="registrado">
                    Mis Actividades
                </a>
                <a *ngIf="admin" mat-button href="reportes">
                    Reportes
                </a>
            </div>
        </div>
        <div>
            <!-- <button *ngIf="deviceXs" mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>more_vert</mat-icon>
      </button> -->
            <!-- <button *ngIf="!deviceXs" mat-button [matMenuTriggerFor]="menu" fxLayoutAlign="end">
        Menu
      </button> -->

            <div fxLayoutAlign="center end">

                <button *ngIf="admin" mat-icon-button color="white" (click)="addNew()" aria-label="Example icon button with a menu icon">
                     <mat-icon>add</mat-icon>
                </button>
                <a mat-icon-button color="white" href="inicio">
                    <mat-icon>exit_to_app</mat-icon>
               </a>
            </div>

        </div>
    </mat-toolbar-row>
    <mat-toolbar-row *ngIf="deviceXs" fxLayoutAlign="space-between end">
        <!-- <button mat-button>Capacitaciones</button>
        <button mat-button>Talleres</button> -->
        <a mat-button href="capacitaciones">
            <mat-icon>school</mat-icon>

        </a>
        <a mat-button href="talleres">
            <mat-icon>article</mat-icon>


        </a>
        <a mat-button href="registrado">
            <button mat-icon-button color="white" aria-label="Example icon button with a menu icon">
                <mat-icon>menu</mat-icon>
           </button>
        </a>
        <a *ngIf="admin" mat-button href="reportes">
            <!-- <button mat-icon-button color="white" aria-label="Example icon button with a menu icon"> -->
            <mat-icon>manage_accounts</mat-icon>
            <!-- </button> -->
        </a>
    </mat-toolbar-row>
</mat-toolbar>
<!-- Menu Items -->