<div class="wrap-page">
    <mat-selection-list #lstusuarios [(ngModel)]="selectedAsistencia" >
        <mat-list-option *ngFor="let usuario of usuarios"  [value]="usuario"  [(selected)]="usuario.select" >
            {{usuario.nombre}}
        </mat-list-option>
    </mat-selection-list>
    <br/>
    <p>
        Cantidad de asistente: {{lstusuarios.selectedOptions.selected.length}}
    </p>

    <br/>
    <button mat-stroked-button color="primary" (click)="confirmar()" style="width: 100%;">Guardar</button>


</div>
