
<div >

    <mat-dialog-content style="  width: 300px;">
        <p>
            {{data.titulo}}
        </p>
    
        <p>
                {{data.descripcion}}   
        </p>
        <p>
            Fecha: {{data.fecha}}
        </p>
        <p>
            Hora: {{data.horario}}
        </p>
        <p>
            Modalidad:                     {{data.modalidad=='P'? 'Presencial': 'Online' }}
        </p>
    
        <p *ngIf="data.modalidad=='O' ">
            Link:  <a href="{{data.link}}">{{data.link}}</a>
        </p>
    </mat-dialog-content>
    
    
    <mat-dialog-actions *ngIf="admin" style="justify-content: space-around; align-items: center;">
            <!-- <button mat-button mat-dialog-close>No</button> -->
            <!-- The mat-dialog-close directive optionally accepts a value as a result for the dialog. -->
            <!-- <button mat-button [mat-dialog-close]="true" (click) = "ver()">Ver asistencia</button> -->
            <a mat-button  [routerLink]="['/asistencia',data.id]" [mat-dialog-close]="true" >Ver asistencia </a> 
    
    </mat-dialog-actions>
</div>
