.content {
    position: absolute;
    top: 65px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    overflow-y: scroll;
}

@media (max-width: 599px) {
    .content {
        position: absolute;
        top: 110px;
        left: 0px;
        right: 0px;
        bottom: 0px;
        overflow-y: scroll;
    }
}
