<div class="wrap-login">
    <mat-card class="card-login ">

        <mat-card-title>
            Liceo Panamericano Internacional
        </mat-card-title>

        <mat-card-content>
            <br/>

            <mat-form-field appearance="outline" style="width: 100%;">
                <mat-label>Cedula</mat-label>

                <input matInput [(ngModel)]="usuario"  type="string"  placeholder="Ingrese su cedula">
            </mat-form-field><br/>

            <mat-form-field appearance="outline" style="width: 100%;">
                <mat-label>Clave</mat-label>

                <input matInput type="password" [(ngModel)]="clave" placeholder="Ingrese su clave">
            </mat-form-field><br/>

            <button mat-raised-button color="primary" (click)="login()" style="margin-right:5px; width: 100%;">Iniciar Sesion</button><br/><br/><br/>

            <a style="margin-right:5px; width: 100%; color: blue;" href="/registro">Desea registrarse ?</a>

        </mat-card-content>

    </mat-card>
</div>