<div *ngIf="visible"  class="example-sidenav-content" fxLayout="row wrap" fxLayout.xs="column" fxLayoutAlign="space-evenly center">
    <mat-card class="example-card" *ngFor="let i of capacitaciones">
        <mat-card-header>
            <mat-card-title class="header-text">{{i.titulo}}</mat-card-title>

        </mat-card-header>
        <mat-card-content>
            <div style="margin-left: 16px;">
                <p>
                    {{i.detalle}}
                </p>
                <p>
                    Fecha:     {{i.fecha}}
                </p>
                <p>
                    Hora:     {{i.horario}}
                </p>
                <p>
                    Modalidad:                     {{i.modalidad=='P'? 'Presencial': 'Online' }}

                </p>
            </div>
        

        </mat-card-content>
        <mat-card-actions>
            <div fxLayout="row wrap" fxLayout.xs="column" fxLayoutAlign="flex-end">
                <button mat-stroked-button color="primary" (click)="confirmar(i)" style="justify-content: end;">Registrarse</button>

            </div>
        </mat-card-actions>
    </mat-card>
</div>
<div *ngIf="!visible" class="example-sidenav-content"   >
    <mat-card   style="width: 80%; margin: 0 auto">
        
        <mat-card-content style="width: 100%; text-align: center;">
            No existe ninguna capacitacion disponible
        </mat-card-content>

        
    </mat-card>
</div>