
.example-sidenav-content{
    
    width: 90%;
    max-width: 1024px;
    margin:0 auto;
}

.example-card {
    width: 80%;
    max-width: 320px;
    margin: 10px 5px 5px 10px;
}

.list-width {
    width: 200px;
}

.list-item:hover {
    background-color: rgba(83, 83, 83, 0.178);
    cursor: pointer;
}