.wrap-crea {
    width: 100%;
    height: 100%;
    display: flex;
    padding: 10px;
}

.card-crea {
    margin: 0 auto;
    width: 100%;
    height: auto;
    max-width: 800px;
    justify-content: center;
}


/* .mat-card.scrollable-content {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    >.mat-card-title-group {
        display: block;
    }
    >.mat-card-content {
        overflow-y: auto;
    }
} */

.mat-radio-button~.mat-radio-button {
    margin-left: 16px;
}