<div class="wrap-crea">

    <div class="card-crea" [formGroup]="user">
        <H3>
            Crea una nueva actividad
        </H3>
        <mat-form-field appearance="outline" style="width: 100%;">
            <mat-label>Titulo</mat-label>
            <input [(ngModel)]="item.titulo" formControlName="tituloValidator" matInput placeholder="titulo">
            <!-- <mat-icon matSuffix>emoji_transportation</mat-icon> -->
        </mat-form-field>

        <br />
        <mat-form-field appearance="outline" style="width: 100%;">

            <mat-label>Detalle corto</mat-label>
            <input [(ngModel)]="item.detalle" formControlName="detalleValidator" autocomplete="off" matInput
                placeholder="detalle">
            <!-- <mat-icon matSuffix>emoji_transportation</mat-icon> -->
        </mat-form-field>
        <br />

        <mat-form-field appearance="outline" style="width: 100%;">
            <mat-label>Descripcion larga</mat-label>
            <textarea [(ngModel)]="item.descripcion" formControlName="descripcionValidator" matInput
                placeholder="descripcion"></textarea>

        </mat-form-field>
        <br />

        <mat-form-field appearance="outline" style="width: 100%;">
            <mat-label>Tipo de actividad</mat-label>
            <mat-select [(value)]="selected" formControlName="tipoValidator">
                <mat-option value="1">Capacitacion Presencial </mat-option>
                <mat-option value="2">Capacitacion Online </mat-option>
                <mat-option value="3">Taller Presencial </mat-option>
                <mat-option value="4">Taller Online </mat-option>
            </mat-select>
        </mat-form-field>
        <br />
        <mat-form-field appearance="outline" style="width: 100%;">
            <mat-label>Fecha</mat-label>
            <input matInput [(ngModel)]="item.fecha" autocomplete="off" formControlName="fechaValidator"
                placeholder="dd/mm/aaaa" [matDatepicker]="picker">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
            <mat-datepicker touchUi #picker></mat-datepicker>


        </mat-form-field>

        <br />

        <mat-form-field appearance="outline" style="width: 100%;">
            <mat-label>Hora</mat-label>
            <input matInput [(ngModel)]="item.horario" formControlName="horaValidator" autocomplete="off"
                placeholder="10:00" [ngxTimepicker]="hora">
            <ngx-material-timepicker #hora>schedule</ngx-material-timepicker>
        </mat-form-field>
        <br />
        <mat-form-field appearance="outline" style="width: 100%;">
            <mat-label>Lugar</mat-label>
            <input matInput [(ngModel)]="item.lugar" formControlName="lugarValidator" autocomplete="off"
                placeholder="lugar">
            <mat-icon matSuffix>place</mat-icon>
        </mat-form-field>
        <mat-form-field appearance="outline" style="width: 100%;">
            <mat-label>Duracion en minutos</mat-label>

            <input matInput [(ngModel)]="item.duracion" formControlName="duracionValidator" autocomplete="off"
                type="number" placeholder="120">

            <mat-icon matSuffix>timer</mat-icon>


        </mat-form-field>
        <mat-form-field appearance="outline" style="width: 100%;">
            <mat-label>Link</mat-label>
            <input [(ngModel)]="item.link"  [ngModelOptions]="{standalone: true}" matInput autocomplete="off"
                placeholder="link">
            <mat-icon matSuffix>share</mat-icon>
        </mat-form-field>
        <br />
        <button color="primary" (click)="registrar()"
            style="width: 100%; max-width: 800px; height: 50px; margin: 0 auto;">Crear</button>

    </div>

</div>